* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
    text-transform: uppercase;
    scroll-behavior: smooth;
}

.fade:hover {
    opacity: .8;
    scale: 1.1;
    transition: ease-in-out .3s;
}

a {
    display: inline-block;
}

html {
    min-width: 320px;
}

body {
    --blue: rgb(31, 65, 255);
    --drakgray: rgb(124, 124, 124);
    --gray: rgb(224, 224, 224);
    --black: #000;
    --white: #fff;
    --brown: rgb(205, 157, 101);
}

.hidding {
    display: none;
}


.small-text {
    font-size: clamp(2rem, .5rem + 4vw, 4rem);
}

.size1 {
    font-size: clamp(2rem, 4rem + 4vw, 8rem);
    font-weight: 100;
    overflow-wrap: break-word;
}

.size2 {
    font-size: clamp(1.5rem, 1rem + 4vw, 3rem);
    font-weight: 100;
}

.size3 {
    font-size: clamp(1.2rem, 1rem + 1.5vw, 3rem);
    font-weight: 100;
}

.size4 {
    font-size: clamp(0.8rem, 0.5rem + 2vw, 1.5rem);
    font-weight: 100;
}

.size5 {
    font-size: clamp(0.8rem, 0.5rem + 2vw, 1.1rem);
    font-weight: 100;
}

.line-brake {
    width: 100%;
    background: repeating-linear-gradient(to right, black 0 20px, rgba(255, 255, 255, 0.9) 20px 40px);
    height: 20px;
    position: relative;
}

.line-brake::after {
    content: '';
    width: 100%;
    height: 20px;
    background: repeating-linear-gradient(to right, rgba(255, 255, 255, 0.9) 0 20px, black 20px 40px);
    position: absolute;
    top: 20px;
}

header {
    background: white;
    padding: 1rem 3rem;

    .head-con {
        .head-wraps {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .link {
                display: flex;
                gap: 2rem;

                .link-btn a,
                .link-btn span {
                    color: rgb(61, 60, 60);
                    text-decoration: none;
                    font-size: clamp(1.2rem, .5rem + 1.5vw, 3rem);
                    font-weight: 100;
                }
            }
        }
    }
}

main {
    .main-about {
        background: black;
        color: white;
        padding: 3rem;
        text-align: center;
        font-weight: 100;

        .about-head {
            font-size: 1rem;
        }

        .about-info {
            margin-top: 2rem;
            font-size: clamp(2rem, .5rem + 4vw, 4rem);
        }
    }
}

section {
    .section-wrap1 {
        display: flex;
        max-height: 800px;
        width: 100%;
        overflow: hidden;


        .recognition {
            flex: 5;
            /* display: flex; */
            background: var(--brown);

            .reco-con {
                padding: 0rem 1.5rem 8rem 1.5rem;

                .head {
                    margin: 3rem 0;
                }

                .detail {
                    display: flex;
                    align-items: center;
                    border-bottom: 2px solid var(--black);

                    .list {
                        margin-left: 2rem;
                        font-size: clamp(0.8rem, 0.5rem + 2vw, 1.5rem);
                        padding: 1rem 0;
                    }
                }
            }

        }

        .bg {
            flex: 5;
            background-image: url('./photo/barista.avif');
            height: auto;
            min-height: 600px;
            width: 100%;
            background-size: cover;
            position: relative;
            aspect-ratio: 9/16;
            background-repeat: no-repeat;

            .bg-con {
                padding: 1rem 0 20px 0;
                position: absolute;
                background: rgba(0, 0, 0, 0.5);
                border-radius: 20px;
                left: 50%;
                translate: -50%;
                bottom: 3%;
                color: white;
                min-width: 300px;
                width: 90%;
                overflow: hidden;

                .founder {
                    display: grid;
                    place-items: center;
                    border: 2px solid white;
                    width: 150px;
                    height: 50px;
                    border-radius: 50%;
                    font-size: 1.5rem;
                    font-weight: 100;
                    margin-left: 1rem;
                }

                .name {
                    font-size: 9vw;
                    text-align: center;
                }
            }
        }

    }

    .section-wrap2 {
        display: flex;

        .img {
            flex: 5;
            /* background-image: linear-gradient(rgba(0, 0, 0, 0.4)); */
            /* max-height: 800px;
            overflow: hidden; */

            img {
                width: 100%;
                height: auto;
                display: block;
                object-fit: cover;
            }
        }

        .est {
            flex: 5;
            background: black;
            color: white;

            .est-con {
                padding: 2rem;
                display: flex;
                flex-direction: column;
                height: 100%;

                .con-detail {
                    padding: 1rem;

                    .info {
                        margin-top: 3rem;
                        display: flex;
                        justify-content: space-between;
                    }

                }

                .end {
                    padding: 1rem;
                    font-size: clamp(3.5rem, 3rem + 6vw, 8rem);
                    border-top: 2px solid var(--drakgray);
                    text-align: center;
                    margin-top: auto;
                }
            }
        }
    }
}

footer {
    background: var(--white);
    padding-bottom: 20px;

    .footer-con {
        padding: clamp(1rem, 1.5rem + 2vw, 2.5rem);

        .more-info-wrap {
            display: flex;

            .link {
                flex: 5;

                a {
                    text-decoration: none;
                    color: black;
                }
            }

            .contact {
                flex: 5;
            }
        }

        .bran-name {
            margin-top: 5rem;

            a {
                font-size: clamp(5rem, 4rem + 12vw, 12rem);
                text-decoration: none;
                color: black;
            }
        }
    }
}

@media (max-width:1279px) {
    section {
        .section-wrap1 {
            flex-direction: column-reverse;

            .recognition {
                flex: 0;
            }

            .bg {
                flex: 0;
                height: 800px;

                .bg-con {
                    .founder {
                        margin: 0 auto;
                        font-size: 1rem;
                        width: 120px;
                        height: 40px;
                    }
                }
            }
        }

        .section-wrap2 {
            flex-direction: column;

            .est {
                .est-con {
                    min-height: 760px;
                    height: auto;

                    .end {
                        text-align: left;
                    }
                }
            }
        }
    }

    footer {
        .footer-con {
            text-align: center;

            .more-info-wrap {
                display: block;

                .contact {
                    margin-top: 2rem;
                }
            }
        }
    }
}

@media (max-width:799px) {
    header {
        .head-con {
            .head-wraps {
                .link {
                    display: block;

                    .link-btn a {
                        font-size: .9rem;
                    }
                }
            }
        }
    }

    section {
        .section-wrap1 {
            .bg {
                .bg-con {
                    width: 50%;

                    .hidding {
                        display: block;
                    }
                }
            }
        }
    }

    footer {
        .footer-con {

            .size5,
            .size4 {
                font-size: .8rem;
            }

            .bran-name a {
                font-size: 5rem;
            }
        }
    }
}