* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
    text-transform: uppercase;
    scroll-behavior: smooth;
}

html {
    min-width: 320px;
}

body {
    --blue: rgb(31, 65, 255);
    --drakgray: rgb(124, 124, 124);
    --gray: rgb(224, 224, 224);
    --black: #000;
    --white: #fff;
    --brown: rgb(205, 157, 101);
}


.text {
    p {
        font-size: clamp(1rem, 1rem + 1vw, 2rem);
    }
}

.size-name {
    font-size: clamp(8rem, 8rem + 5vw, 15rem);
    font-weight: 100;
}

.size1 {
    font-size: clamp(2rem, 4rem + 4vw, 8rem);
    font-weight: 100;
    overflow-wrap: break-word;
}

.size2 {
    font-size: clamp(1.5rem, 1rem + 4vw, 3rem);
    font-weight: 100;
}

.size3 {
    font-size: clamp(1.2rem, 1rem + 1.5vw, 3rem);
    font-weight: 100;
}

.size4 {
    font-size: clamp(0.8rem, 0.5rem + 2vw, 1.5rem);
    font-weight: 100;
}

.size5 {
    font-size: clamp(0.8rem, 0.5rem + 2vw, 1.1rem);
    font-weight: 100;
}

.hiding {
    display: none;
}

.button {
    margin-top: 80px;
    background: #000;
    display: inline-block;
    width: 140px;
    height: 60px;
    text-align: center;
    align-content: center;
    border-radius: 50%;

    a {
        color: var(--brown);
        text-decoration: none;
        font-size: clamp(1rem, 0.5rem + 1vw, 2rem);
    }
}

.button-white {
    background: white;
    border: 1px solid black;

    a {
        color: black;
    }
}

.button-white:hover {
    background: var(--gray);
}

.button-brown:hover {
    background: var(--brown);
    border: 1px solid black;

    a {
        color: black;
    }
}

.drop-opacity:hover {
    opacity: .7;
}

.fade:hover {
    opacity: .7;
    transition: ease .3s;
    scale: 1.1;
    display: inline-block;
}

.line-brake {
    width: 100%;
    background: repeating-linear-gradient(to right, black 0 20px, transparent 20px 40px);
    height: 20px;
    position: relative;
}

.line-brake::after {
    content: '';
    width: 100%;
    height: 20px;
    background: repeating-linear-gradient(to right, transparent 0 20px, black 20px 40px);
    position: absolute;
    top: 20px;
}

header {
    padding-bottom: 20px;

    .head-con {
        .head-con-wrap {
            display: flex;
            gap: 2rem;
            padding: 2rem 2rem 1rem 1rem;

            .head-bran {
                flex: 5;

                h1 {
                    margin: 0;
                }
            }

            .head-info {
                display: flex;
                padding: 30px 0;
                flex: 5;
                /* align-items: center; */
                flex-direction: column;
                justify-content: space-between;

                .head-link {
                    border-top: #000 1px solid;
                    padding-top: 10px;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;

                    .us-show {
                        display: none;
                    }

                    a {
                        color: var(--black);
                        text-decoration: none;
                    }
                }
            }
        }


    }
}

section {
    .section-con-wrap {
        display: flex;
        max-height: 600px;

        .only-spirit {
            background: var(--brown);
            /* padding: 40px; */
            flex: 4;

            .info {
                padding: clamp(15px, 15px + 1vw, 50px);

                p {
                    font-size: clamp(1rem, 1rem + 1vw, 2rem);
                }
            }
        }

        .only-img {
            flex: 6;
            overflow: hidden;
            max-height: 800px;

            img {
                width: 100%;
                object-fit: cover;
                height: auto;
                display: block;
                aspect-ratio: 16/9;
            }
        }
    }

    .section-bg {
        background-image: linear-gradient(rgba(0, 0, 0, 0.25)),
            url('./photo/grass.avif');
        max-width: 100%;
        height: auto;
        display: block;
        min-height: 800px;
        max-height: 800px;
        object-fit: contain;
        object-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        .info {
            text-align: center;
            position: absolute;
            color: white;
            /* border: 5px solid red; */
            left: 50%;
            translate: -50%;
            bottom: 10%;

            h1,
            h3 {
                font-weight: 100;
            }

        }

        .logo-new {
            position: absolute;
            margin: 0;
            bottom: 38%;
            left: 25%;
            color: white;
            background: transparent;
            border: 2px solid white;
        }
    }

    .section-con {
        .main-detail {
            background: rgb(205, 157, 101);
            padding: clamp(1rem, 1rem + 2vw, +2rem) clamp(1rem, 1.5rem + 2vw, +3rem);


            .link a {
                overflow-wrap: break-word;
                display: inline-block;
                text-decoration: none;
                margin: -1.2rem 0;
                font-size: clamp(2rem, 2.5rem + 6vw, 10rem);
                font-weight: 100;
                overflow-wrap: break-word;
            }

        }
    }
}

main {
    .main-con {
        padding: clamp(10px, 20px + 3vw, 100px);
    }

    .main-order {
        padding: 2rem;
        display: grid;

        .order-wraps {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;

            .order-card {
                /* border: 2px solid green; */
                position: relative;


                .order-name {
                    position: absolute;
                    top: 2%;
                    color: white;
                    left: 4%;
                }

                /* .order-name:hover {
                    display: block;
                } */

                .order-img {
                    /* overflow: hidden; */
                    margin-bottom: 1rem;

                    img {
                        width: 100%;
                        max-height: 650px;
                        height: auto;
                        aspect-ratio: 9/16;
                        object-fit: cover;
                    }
                }

                .order-img:hover {
                    opacity: .6;
                }


                .order-btn {
                    margin-top: 1rem;

                    a {
                        text-decoration: none;
                        color: #000;
                    }
                }
            }
        }
    }

    .main-coner {
        .experience-wrap {
            display: flex;
            gap: 1.5rem;

            .info {
                flex: 5;
                padding: clamp(1rem, 1rem + 2vw, 2.5rem);

                p {
                    font-weight: 100;
                }
            }

            .img {
                flex: 5;

                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

footer {
    background: var(--brown);
    padding-bottom: 20px;

    .footer-con {
        padding: clamp(1rem, 1.5rem + 2vw, 2.5rem);

        .more-info-wrap {
            display: flex;

            .link {
                flex: 5;

                a {
                    text-decoration: none;
                    color: black;
                }
            }

            .contact {
                flex: 5;
            }
        }

        .bran-name {
            margin-top: 5rem;

            a {
                font-size: clamp(5rem, 4rem + 12vw, 12rem);
                text-decoration: none;
                color: black;
            }
        }
    }
}

@media (max-width:1279px) {
    header {

        .head-con {
            .head-con-wrap {
                align-items: center;
                flex-direction: column-reverse;
            }

            .head-info,
            .head-bran {
                width: 100%;
                text-align: center;
                gap: 4rem;

                h1 {
                    font-size: 30vw;
                }
            }
        }
    }

    main {
        .main-order {
            .order-wraps {
                display: grid;
                grid-template-columns: 1fr;
                margin: 0 auto;
                max-width: 650px;

                .order-card {
                    margin-top: 0;
                }
            }
        }

        .main-coner {
            .experience-wrap {
                display: block;
            }
        }
    }

    footer {
        .footer-con {
            text-align: center;

            .more-info-wrap {
                display: grid;
                gap: 2rem;
            }

            .size1 {
                font-size: 12rem;
            }
        }
    }
}

@media (max-width:799px) {
    header {
        .head-con {
            .head-con-wrap {
                flex-direction: row;
                justify-content: space-between;
                align-items: none;

                .head-bran {
                    .size-name {
                        justify-self: flex-start;
                        font-size: clamp(2rem, 2rem + 4vw, 8rem);
                    }
                }

                .head-info {
                    justify-content: flex-end;
                    flex: 0;
                    padding: 0;

                    .head-detail,
                    .zero {
                        display: none;
                    }

                    .head-link {
                        display: block;
                        border: none;
                        padding: 0;

                        .find-us::after {
                            content: 'US';
                        }
                    }

                    .link {
                        margin-top: 0;
                        font-size: 1.2rem;
                    }

                    .stock {
                        display: none;
                    }
                }
            }
        }
    }

    section {
        .section-con-wrap {
            flex-direction: column;

            .only-img {
                max-height: 600px;

                img {
                    width: 100%;
                    object-fit: cover;
                    object-position: center center;

                }
            }
        }


        .section-bg {
            .info {
                max-width: 300px;
            }

            .hidding {
                display: block;
            }

            .logo-new {
                left: 50%;
                translate: -50%;
                top: 15%;
            }
        }
    }

    main {
        .main-order {
            padding: 10px;
            margin: 0;

            .order-wraps {
                margin: 0;
                max-width: 100vw;
            }

            .order-wraps:nth-child(1) {
                margin: 10px;
            }
        }

        .main-coner {
            .experience-wrap {
                .info {
                    p {
                        font-size: clamp(0.8rem, 0.5rem + 2vw, 1.5rem);
                    }
                }
            }
        }
    }

    footer {
        .footer-con {
            .bran-name {
                font-size: 20vw;
            }
        }
    }
}